.portfolio-page {
  background-image: url('/public/default-profile.jpg');
  background-size: cover;
  background-position: center;
  float: right;
  width: 75vw;
  height: 100vh;
}

.portfolio-page-overlay {
  float: right;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 100vh;
}

.portfolio-page-overlay-container {
  float: right;
  background-color: rgba(132, 132, 132, 0.3);
  display: flex;
  width: 50vw;
  height: 60vh;
  margin-bottom: 100px;
  color: white;
}
